<h1>Stok Hareketleri</h1>

<%= link_to "STOK ÇIKIŞI OLUŞTUR", new_company_stock_movement_path(@company, :is_entry => 'cikis'), :class => "btn btn-default" %>
<%= link_to "STOK GİRİŞİ OLUŞTUR", new_company_stock_movement_path(@company, :is_entry => 'giris'), :class => "btn btn-default" %>