<tr>
    <td><%= link_to product.name, company_product_path(@company, product) %></td>
    <td><%= product.amount %></td>
    <td><%= product.purchase_price %></td>
    <td><%= product.sales_price %></td>
</tr>