<h1>Products</h1>
<div> <%= link_to 'New Product / Service', new_company_product_path %> </div>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Stock Count</th>
            <th>Buying Price (tax excl.)</th>
            <th>List Price (tax excl.)</th>
        </tr>
    </thead>
    <tbody>
<% if @products.each do |product| %>
    <%= render partial: 'product', :object => product %>
<% end.empty? %>
    <span> No product </span>
<% end %>
</tbody>
</table>